.description-list h3 {
  color: var(--black-text);
}

.description-list p {
  color: var(--gris-text);
}

/* OUR TEAM */

.title-our-team h3 {
  color: var(--black-text);
}

.title-our-team p {
  color: var(--gris-text);
}

/* FOOTER */
.logo-white {
  color: var(--white-text);
}

.box-footer {
  background-color: var(--background-hero);
}

.address {
  color: var(--white-text);
}

.footer-address-link {
  color: var(--gris-op60);
}
