:root {
  --blue-text: #2196f3;
  --white-text: #ffffff;
  --black-text: #212121;
  --gris-text: #757575;
  --gris-op60: #ffffff60;
  --black100: #000000;
  --background-hero: #2f303a;
}

/* HEADER */

.logo-blue {
  color: var(--blue-text);
}

.logo-black {
  color: var(--black100);
}

.header-list a {
  color: var(--black-text);
}

.header-list a:hover,
.header-list a:focus {
  color: var(--blue-text);
}

.aut-list a {
  color: var(--black-text);
}

.aut-list a:hover,
.aut-list a:focus {
  color: var(--blue-text);
}

/* HERO */

.hero {
  background-color: var(--background-hero);
  color: var(--white-text);
}

.hero-btn {
  background-color: var(--blue-text);
  color: var(--white-text);
}

/* Section about us */

.description-list h3 {
  color: var(--black-text);
}

.description-list p {
  color: var(--gris-text);
}

/* OUR TEAM */

.title-our-team h3 {
  color: var(--black-text);
}

.title-our-team p {
  color: var(--gris-text);
}

/* FOOTER */
.logo-white {
  color: var(--white-text);
}

.box-footer {
  background-color: var(--background-hero);
}

.address {
  color: var(--white-text);
}

.footer-address-link {
  color: var(--white-text);
}
